/puphpet/config-custom.yaml
/.vagrant
/vendor/*
/config/app.php
/tmp/*
/logs/*
.env
/webroot/cache_*
config/Migrations/schema-dump-default.lock
config/Migrations/schema-dump-default.lock
config/Migrations/schema-dump-default.lock