.navbar-brand > a, a:hover a:focus {
    color: white;
}

/*
 === Login ===
*/

/*
 === Student ===
*/

/*
 === Badges ===
*/
.label-streak {
    position: relative;
    font-size: x-large;
    left: 45%;
}

