.navbar-brand > a, a:hover a:focus {
    color: white;
}

/*
 === Login ===
*/

/*
 === Student ===
*/

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;

}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;

}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}


/*
 === Badges ===
*/
.label-streak {
    position: relative;
    font-size: x-large;
}

.assignment-text {
    text-align: center;
}

.break-line {
    padding-top: 10px;
}

/*
 === Step 1 ===
*/
.assignmentDescription {
    text-align: center;
}

.assignmentTitle {
    left: 6px;
    position: relative;
}

/*
 === Step 2 ===
*/


/*
 === Step 3 ===
*/

