.navbar-brand > a, a:hover a:focus {
    color: white;
}

/*
 === Login ===
*/

/*
 === Student ===
*/

.btn-primary {
    color: orange;
}

.hello {
    text-transform: uppercase;
    color: orange;
}


/*
 === Badges ===
*/
